@import "index";
.m-weidian{
  .m-weidian-content{
    padding: 0.25rem 0.45rem ;
    .m-weidian-tabbox{
      .flex-row(flex-start);
      color: @greyColor;
      .m-tab-name{
        &.active{
          color: #000;
        }
      }
      .m-tab-line{
        display: inline-block;
        margin: 0 0.05rem;
      }
    }
    .m-select-btn{
     width: 0.94rem;
      height: 0.32rem;
      background-color: @green;
      border: 1px solid @green;
    }
    .m-table-btn{
      display: inline-block;
      width: 0.66rem;
      height: 0.26rem;
      background-color: @sidebarChildColor;
      color: #fff;
      border-radius: 5px;
      &.cancel{
        background-color: #dbdcdc;
        color: #b4b4b5;
      }
    }
    .m-page-box{
      margin-top: 0.2rem;
    }
  }

}
