@import "index";
.m-weidian{
  background-color: #fff;
  .m-weidian-content{
    padding: 0.25rem  0.45rem 0.25rem ;
    .m-weidian-tabbox{
      .flex-row(flex-start);
      color: @greyColor;
      margin-bottom: 0.2rem;
      margin-top: 0.3rem;
      font-size: 0.18rem;
      &.m-ft-12{
        font-size: 0.12rem;
      }
      &.m-no-margin{
        margin-top: 0;
      }
      .m-tab-name{
        cursor: pointer;
        &.active{
          color: #000;
        }
      }
      .m-tab-line{
        display: inline-block;
        margin: 0 0.05rem;
      }
    }
    .m-select-btn{
     width: 0.94rem;
      height: 0.32rem;
      background-color: @green;
      border: 1px solid @green;
    }
    .m-table-btn{
      display: inline-block;
      width: 0.66rem;
      height: 0.26rem;
      background-color: @sidebarChildColor;
      color: #fff;
      border-radius: 5px;
      &.cancel{
        background-color: #dbdcdc;
        color: #b4b4b5;
      }
    }
    .m-page-box{
      margin-top: 0.2rem;
    }
    .m-textarea{
      width: 7.6rem;
      height: 1.2rem;
      padding: 0.1rem;
    }
    .el-select {
      width: 3.9rem;
    }
    .content-table {
      padding-bottom: 0.3rem;
      .product-template {
        width: 100%;
        display: flex;
        align-items: center;
        .product-img {
          width: 0.5rem;
          height: 0.5rem;
          padding: 0 0.1rem;
        }
        .product-choose {
          width: auto;
          max-width: 2rem;
        }
      }
      .avatar-uploader {
        text-align: center;
        .el-upload {
          width: 1.6rem;
          height: 0.6rem;
          line-height: 0.6rem;
        }
      }
      .m-item-alert{
        color: @greyColor;
        font-size: 0.14rem;
      }
      .add-box {
        font-size: 0.25rem;
        padding-top: 0.1rem;
      }
    }
    .m-form-item{
      position: relative;
      width: 90%;
      &.m-from-border{
        border-bottom: 1px solid #707070;
        margin-bottom: 0.65rem;
      }
      .m-item-add{
        position: absolute;
        bottom: 0.1rem;
        right: 0;
        font-size: 0.2rem;
        color: #707070;
        cursor: pointer;
      }
      &.m-item-m{
        width: 5.6rem;
      }
      &.m-item-modal{
        width: 5.1rem;
      }
      .m-item-content{
        padding: 20px 0;
        .m-item-row{
          .flex-row(flex-start);
          align-items: flex-start;
        }
        .m-item-alert{
          color: @greyColor;
          margin-top: 0.2rem;
          font-size: 0.14rem;
        }
        .m-textarea{
          width: 100%;
          height: 1.5rem;
          padding: 0.1rem;
        }
      }

    }
    .m-form-confirm-btn{
      .flex-row(space-around);
      span{
        display: inline-block;
        width: 1.5rem;
        height: 0.4rem;
        line-height: 0.4rem;
        background-color: #91aeb5;
        color: #fff;
        cursor: pointer;
        text-align: center;
        border-radius: 10px;
      }
    }
  }

}
